:root {
	--win32-title-bar-height: 28px;
	--win32-title-bar-background-color: #24292e;
	--title-color: #dbe0e4;
	--menu-tabs-height: 38px;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	overflow: hidden;
}
#title-bar .resize-handle {
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-app-region: no-drag;
}
#title-bar .resize-handle.top {
	width: 100%;
	height: 3px;
}
#title-bar .resize-handle.left {
	width: 3px;
	height: var(--win32-title-bar-height);
}
#title-bar {
	user-select: none;
	-webkit-app-region: drag;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	height: var(--win32-title-bar-height);
	background: var(--win32-title-bar-background-color);
	border-bottom: 1px solid #000;
	cursor: default;
	position: fixed;
	top: 0;
}
#title {
	/*position: fixed;*/
	top: 0px;
	left: 12px;
	line-height: 27px;
	font-size: 12px;
	/*color: #959da5;*/
	color: var(--title-color);
}
#title-bar-btns {
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: auto;
}
#title-bar-btns button {
	-webkit-app-region: no-drag;
	display: inline-block;
	position: relative;
	width: 45px;
	height: 100%;
	padding: 0;
	margin: 0 -2px;
	overflow: hidden;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #a0a0a0;
	background-color: transparent;
	transition: background-color 0.25s;
	outline: none;
}
#title-bar-btns button svg {
	fill: currentColor;
}
#title-bar-btns button#close-btn {
	margin: 0 0 0 -1px;
}
#title-bar-btns button:hover {
	background-color: #888;
	color: #fff;
}
#title-bar-btns button#close-btn:hover {
	background-color: #e81123;
	color: #fff;
}
#icon {
	height: 100%;
	width: auto;
	margin: 5px;
	display: inline-block;
	position: relative;
}
#icon svg {
	height: calc(100% - (2 * 5px));
	width: auto;
}
#icon svg path {
	fill: var(--title-color);
}
.menu-holder {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	user-select: none;
	height: var(--menu-tabs-height);
	margin-top: var(--win32-title-bar-height);
}
.menu-holder > div {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	font-size: 1.6em;
	padding-bottom: 3px;
	border-right: solid 1px #777;
	border-bottom: solid 1px #777;
	background-color: #CCC;
}
.menu-holder div:last-child {
	border-right: none;
}
.menu-holder > .menu-active {
	background-color: white;
	border-bottom-color: rgba(255, 255, 255, 0);
	cursor: default;
}
.hidden {
	display: none;
}
.content-wrapper {
	margin: 5px 1px 0px 10px;
	height: calc(100vh - (var(--win32-title-bar-height) + var(--menu-tabs-height) + 5px));
	overflow-x: hidden;
	overflow-y: auto;
}
#creator-container, #play-container {
	user-select: none;
}
#fileBTN {
	user-select: none;
	outline: none;
	margin-bottom: 10px;
}
#image, #playImage {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	margin-bottom: 3px;
}
#pattern {
	margin-bottom: 10px;
	display: inline-flex;
}
#pattern, #image {
	border: 1px solid #000;
}
.btn{
	position: relative;
	display: inline-block;
	padding: 6px 12px;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: #EEE;
	background-image: linear-gradient(#FCFCFC, #EEE);
	border: 1px solid #D5D5D5;
	border-radius: 3px;
}
.btn:hover{
	text-decoration: none;
	background-color: #ddd;
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc
}
.legend-div{
	margin-top: 10px;
}
/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
/*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 2px;
}*/

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(189, 189, 189);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #5f5f5f;
}
